html {
  font-size: 25px;
}
body {
  margin: 0;
  padding: 0;

  font-family: 'Amatic SC', cursive;
  color: #777;
}
h1, h2 {
  font-size: 3em;
  text-align: center;
}
p {
  width: 500px;
  margin: 10px auto;
  color: #777;
  text-align: center;
}
a {
  color: #777;
  text-decoration: none;
}
a:hover {
  color: #EC407A;
}
.purple {
  color: #673AB6;
}
.cyan {
  color: rgb(0, 187, 211);
}
.pink {
  color: #EC407A;
}
.orange {
  color: #FE5722;
}
.yellow {
  color: #FEEA3B;
}
/*.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}*/
#work {
  background: url(/static/img/tree_bark.png) repeat;
  padding-top: 20px;
}

/* Jumbotron Styles */
.jumbotron {
  height: 100vh;
}
.title {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50%;
}
.controls {
  margin: 10px auto;
  height: 20vh;
  text-align: center;
}
#canvas {
  margin: 0;
	width: 100vw;
  height: calc(80vh - 10px);
	margin: auto;
}
.box {
	display: inline-block;
	float: left;
	box-sizing: border-box;
	background-color: #fff;
}
.outline {
	border: 1px dotted #c8c8c8;
}
button {
	display: inline-block;
	margin: 5px 25px;
	padding: 3px 10px;
	background-color: #fff;
  text-align: center;
  text-decoration: none;

  border: 1px solid #777;
  border-radius: 12px;
  font-family: 'Amatic SC', cursive;
  font-size: 1em;
	color: #777;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
button:hover {
  background-color: #777;
  color: #fff;
}
#scroll-down {
  margin-top: 20px;
}

/* Sidenav Styles */
.pancake {
  display: inline-block;
  position: fixed;
  left: 3px;
  padding: 3px 8px;
  transition: 0.2s;

  background-color: #333;
  border-radius: 5px;
  color: #c8c8c8;
}
.pancake i:hover, .sidenav i:hover {
  font-size: 1.1em;
  color: #f1f1f1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;

    background-color: #333;
    transition: 0.5s;
}
.sidenav a {
    display: block;
    padding: 8px 8px 8px 32px;
    transition: 0.1s;

    font-size: 25px;
    color: #818181;
    text-decoration: none;
}
.sidenav ul {
  margin-top: 30px;
}
.sidenav li {
  display: inline;
}
.sidenav li a {
  display: inline;
  padding: 5px;
}
.sidenav a:hover, .offcanvas a:focus{
    font-size: 27px;
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 45px;
    margin-left: 50px;
}
.sidenav .closebtn:hover {
  font-size: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* Portfolio Thumbnails */
.grid {
	padding: 0 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
  box-sizing: border-box;
	top: 0;
	left: 0;
	padding: 10px;
	background: #333;
	color: #818181;
}
.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}
.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #673AB6;
	color: #fff;
}
@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
/* Hover effect */
.thumbnail-hvr li {
	perspective: 1700px;
	perspective-origin: 0 50%;
}
.thumbnail-hvr figure {
	transform-style: preserve-3d;
}
.thumbnail-hvr figure > div {
	overflow: hidden;
}
.thumbnail-hvr figure img {
	transition: 0.4s;
}
.thumbnail-hvr figure:hover img {
	transform: translateX(25%);
  filter: grayscale(90%);
}
.thumbnail-hvr figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	backface-visibility: hidden;
	transform-origin: 0 0;
	transform: rotateY(-90deg);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.thumbnail-hvr figure:hover figcaption {
	opacity: 1;
	transform: rotateY(0deg);
	transition: transform 0.4s, opacity 0.1s;
}
.thumbnail-hvr figcaption a {
  position: absolute;
  bottom: 10px;

  text-decoration: none;
}
.thumbnail-hvr figcaption a.repo {
	right: 10px;
}
.thumbnail-hvr figcaption a.demo {
	right: 75px;
}

/* About section - shaped div styles */
.container {
  height: 100vh;
  width: 100vw;
}
.content {
  padding: 0;
  width: 60%;
  height: 100%;
  background-color: #fff;

  shape-outside: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}
.shaped {
  height: 100%;
  width: 50%;
  float: right;

  background: url(/static/img/minnesota_15.jpg) center top no-repeat;
  background-size: cover;

  shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}
