{% extends "base.html" %}{% load static %}

{% block content %}
<div class="about section">
  <div class="container">
    <div class="shaped"></div>
    <div class="content">
      <h2>Aspen Hollyer</h2>
      <h3>Educator <i class="fa fa-angle-double-right"></i>-turned--<i class="fa fa-caret-right"></i> software developer.</h3>
      <p>Get to know me by the numbers:</p>
        <ul>
          <li>over <span class="cyan">320 hours</span> self-study in web development and programming</li>
          <li><span class="pink">3 years</span> experience as an English teacher at the secondary level</li>
          <li><span class="purple">2 degrees</span> from Texas A&amp;M University (Gig'em!)</li>
          <li>currently in a <span class="orange">16-week,</span> full-time coding bootcamp</li>
        </ul>
      <p>My professional interests include full-stack development and gamification, among others. I'm also the wife of that handsome bald guy in the picture, a sci fi lover, and a fabulous cook.</p>
    </div><!-- .content -->
  </div><!-- .container -->
</div>
{% endblock %}
