{% extends "base.html" %}{% load static %}

{% block content %}
<div class="about section">
  <div class="container">
    <div class="shaped"></div>
    <div class="content">
      <h3>Educator<br><i class="fa fa-angle-double-right"></i><span class="strike">&nbsp;&nbsp;</span>turned<span class="strike">&nbsp;&nbsp;</span><i class="fa fa-caret-right"></i><br>web developer.</h3>
      <p>Get to know me by the numbers:</p>
        <ul>
          <li>over <span class="cyan">330 hours</span> self-study in development and programming</li>
          <li><span class="pink">3 years</span> experience as an English teacher at the secondary level</li>
          <li><span class="purple">2 degrees</span> from Texas A&amp;M University (Gig'em!)</li>
          <li>currently in a <span class="orange">16-week,</span> full-time coding bootcamp</li>
        </ul>
      <p>I'm also the wife of that handsome bald guy in the picture. I'm a sci-fi lover and a fabulous cook. In the professional realm, I really dig gamification and pedagogical theories--in other words, making content fun, easy, and accessible for people.</p>
      <ul class="link-list">
        <li><a class="sn-link" href="mailto:aspen.hollyer@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
        <li><a class="sn-link" href="https://github.com/ahollyer" target="blank"><i class="fa fa-github"></i></a></li>
        <li><a class="sn-link" href="https://www.linkedin.com/in/aspen-hollyer" target="blank"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a class="sn-link" href="https://twitter.com/aspen-hollyer" target="blank"><i class="fa fa-twitter"></i></a></li>
        <li><a class="sn-link" href=""></a></li>
      </ul>
    </div><!-- .content -->
  </div><!-- .container -->
</div>
{% endblock %}
