{% extends "base.html" %}{% load static %}

{% block content %}
<div class="contact section">
  <div class="section-top">
    <h2>Get in Touch</h2>
  </div>
  <div class="form-box">
    <img src="{% static 'img/envelope.jpeg' %}" alt="envelope flap">
    <form action="/contact/" method="POST" id="contact-form">
      {% csrf_token %}
      <label>Name: &nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="text" name="name" required>
      <br><br>
      <label>E-mail: &nbsp;&nbsp;</label>
      <input type="email" name="email" required>
      <br><br>
      <label>Message: &nbsp;</label>
      <textarea rows="5" name="message" required></textarea>
    </form>
    <button id="submit-button" type="submit" form="contact-form" value="Submit">Send</button>
  </div>
  <ul class="link-list">
    <li><a class="sn-link" href="mailto:aspen.hollyer@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
    <li><a class="sn-link" href="https://github.com/ahollyer" target="blank"><i class="fa fa-github"></i></a></li>
    <li><a class="sn-link" href="https://www.linkedin.com/in/aspen-hollyer" target="blank"><i class="fa fa-linkedin-square"></i></a></li>
    <li><a class="sn-link" href="https://twitter.com/aspen-hollyer" target="blank"><i class="fa fa-twitter"></i></a></li>
    <li><a class="sn-link" href=""></a></li>
  </ul>
</div>
{% endblock %}
