{% extends "base.html" %}{% load static %}

{% block content %}

  <div class="canvas">
    <h1 class="title">Hi, I'm Aspen. I make <span class="show">fun web apps</span><span class="hide purple">web apps fun</span>.</h1>
  </div>

  <div class="controls">
    <button name="marker">Marker</button>
    <button name="eraser">Eraser</button>
    <button name="rainbow">Rainbow!</button>
  	<button name="clear">Clear Canvas</button>
  	<!-- <button name="change">Change Grid Size</button> -->
  	<button name="toggle">Toggle Outline</button><br>
  </div>
{% endblock %}
