{% extends "base.html" %}{% load static %}

{% block content %}
<div class="work">

  <div id="scratch-off-container">
    <img id="bg" src="{% static 'img/play.jpg' %}">
    <img id="scratch-off" src="{% static 'img/work.jpg' %}">
  </div>

  <ul class="grid thumbnail-hvr">
    <li>
  		<figure>
        <div>
  			  <img src="{% static 'img/blackjack-ss.jpg' %}" alt="Blackjack Bunny Screenshot">
        </div>
  			<figcaption>
  				<h3>Blackjack Bunny</h3>
  				<span>Browser game for gambling bunnies everywhere.</span>
          <a class="demo" href="http://blackjack-bunny.aspenhollyer.com" target="_blank">Live</a>
          <a class="repo" href="https://github.com/ahollyer/blackjack-game" target="_blank">Code</a>
  			</figcaption>
  		</figure>
  	</li>
    <li>
  		<figure>
        <div>
  			  <img src="{% static 'img/otc-ss.jpg' %}" alt="tree bark">
        </div>
  			<figcaption>
  				<h3>Off the Chain</h3>
  				<span>Avoid chains. Eat local</span>
          <a class="demo" href="https://off-the-chain.herokuapp.com" target="_blank">Live</a>
				  <a class="repo" href="https://github.com/ahollyer/off-the-chain" target="_blank">Code</a>
  			</figcaption>
  		</figure>
  	</li>
    <li>
  		<figure>
        <div>
  			  <img src="{% static 'img/pinky-ss.jpg' %}" alt="tree bark">
        </div>
  			<figcaption>
  				<h3>Pinky Punky</h3>
  				<span>Prototype for a simple 2D platformer.</span>
          <a class="demo" href="https://ahollyer.github.io/pinky-punky/" target="_blank">Live</a>
          <a class="repo" href="https://github.com/ahollyer/pinky-punky" target="_blank">Code</a>
  			</figcaption>
  		</figure>
  	</li>
  	<li>
  		<figure>
        <div>
  			  <img src="{% static 'img/instant-inspiration.png' %}" alt="tree bark">
        </div>
  			<figcaption>
  				<h3>Instant Inspiration</h3>
  				<span>A random quote generator with various themes.</span>
          <a class="demo" href="https://ahollyer.github.io/instant-inspiration/tolkien.html" target="_blank">Live</a>
				  <a class="repo" href="https://github.com/ahollyer/instant-inspiration" target="_blank">Code</a>
  			</figcaption>
  		</figure>
  	</li>
    <li>
  		<figure>
  			<div>
  			  <img src="{% static 'img/tribute-page.png' %}" alt="tree bark">
  			</div>
  			<figcaption>
  				<h3>LegendaryGrandma.com</h3>
  				<span>A tribute page for my grandma on her 75th birthday.</span>
          <a class="demo" href="http://www.legendarygrandma.com" target="_blank">Demo</a>
          <a class="repo" href="https://github.com/ahollyer/tribute-pages" target="_blank">Code</a>
  			</figcaption>
  		</figure>
  	</li>
  </ul>
</div>

<ul class="link-list">
  <li><a class="sn-link" href="mailto:aspen.hollyer@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
  <li><a class="sn-link" href="https://github.com/ahollyer" target="_blank"><i class="fa fa-github"></i></a></li>
  <li><a class="sn-link" href="https://www.linkedin.com/in/aspen-hollyer" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
  <li><a class="sn-link" href="https://twitter.com/aspen_hollyer" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a class="sn-link" href=""></a></li>
</ul>
{% endblock %}
